<div class="max-w-sm rounded overflow-hidden shadow-lg p-4 bg-white" data-controller="copy">
  <div class="mb-4">
    <h2 class="text-xl font-bold text-gray-900">Shortened URL</h2>
  </div>
  <div class="mb-4">
    <p class="text-gray-700"><strong>Original URL:</strong> <%= @url.original %></p>
  </div>
  <div class="mb-4">
    <p class="text-gray-700"><strong>Slug:</strong> <%= @url.slug %></p>
  </div>
  <div class="mb-4" data-copy-target="url">
    <p class="text-gray-700"><strong>Shortened URL:</strong> <%= slug_redirect_url(@url.slug) %></p>
  </div>
  <div class="mb-4">
    <button data-action="copy#copy" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      Copy URL
    </button>
  </div>
</div>